.sidebar {
  width: 248px;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: "CabinetGrotesk-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 1);
}

.sidebar__row {
  display: flex;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
  margin: 0 16px 0 0;
  border-radius: 50%;
}

.sidebar__username {
  margin: 0;
  padding: 0;
}

.sidebarlinks {
  margin: 24px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebarlink {
  margin: 0 0 8px 0;
  cursor: pointer;
}

.sidebarlink:hover {
  opacity: 0.6;
}

.sidebarlink_type_delete {
  margin: 0;
  color: red;
}

@media screen and (max-width: 768px) {
  .sidebar {
    text-align: center;
    margin: 0 0 60px 0;
  }

  .sidebaruser {
    flex-direction: column;
  }

  .sidebaruser-avatar {
    margin: 0;
  }

  .sidebarlinks {
    margin: 40px 0 0 0;
  }
}
